<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecolife">

        <activity
            android:name="com.ecolife.activities.EcoLifeActivityEditMeals"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName="com.ecolife.ActivityMain" />
        <activity
            android:name="com.ecolife.activities.EcoLifeActivityAddMeals"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName="com.ecolife.ActivityMain" />
        <activity
            android:name="com.ecolife.activities.EcoLifeActivityEditPreset"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName="com.ecolife.activities.EcoLifeActivityAddMeals" />
        <activity
            android:name="com.ecolife.ActivityMain"
            android:screenOrientation="sensorPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>